body {
  margin: 0;
  background-color: rgb(103, 125, 147);
  color: beige;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: xx-large;
  max-width: 500px;
  margin: auto;
}
.content {
  background-color: silver;
  overflow-y: scroll;
  display: block;
  height: 40%;
  width: 50%;
}
